.container {
    margin: 0 auto;

    @media screen and (max-width: 767px) {
        padding: 0 20px;
        max-width: 320px;
    }

    @media screen and (min-width: 768px) {
        padding: 0 75px;
        width: 768px;
    }

    @media screen and (min-width: 1024px) {
        padding: 0 71px;
        width: 1024px;
    }
}