@import './common';
@import './button-back';

@import './base/container';
@import './base/section';
@import './base/variables';

@import './utils/root';
@import './utils/visually-hidden';

@import './components/buttons';
@import './components/modal-open';

@import './layout/home';
@import './layout/header';
@import './layout/my-library';
@import './layout/movie-cards';

@import './components/pagination';
