<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modal</title>
  </head>
  <body>
    <div class="backdrop">
      <div class="modal">
        <button class="modal-btn">
          <svg width="30" height="30">
            <use href="./images/symbol-defs.svg#"></use>
          </svg>
        </button>
        <div class="wrapper">
          <div class="images">
            <img src="#" alt="" />
          </div>

          <div class="wrapper__text">
            <h1 class="wrapper__title">A FISTFUL OF LEAD</h1>
            <ul class="list">
              <li class="list__item">
                <p class="list__item-text">Vote / Votes</p>
                <p class="list__item-elem"></p>
              </li>
              <li class="list__item">
                <p class="list__item-text">Original Title</p>
                <p class="list__item-elem">100.2</p>
              </li>
              <li class="list__item">
                <p class="list__item-text">Original Title</p>
                <p class="list__item-elem">A FISTFUL OF LEAD</p>
              </li>
              <li class="list__item">
                <p class="list__item-text">Genre</p>
                <p class="list__item-elem">Western</p>
              </li>
            </ul>
            <h2 class="text">About</h2>
            <p class="paragraph">
              Four of the West’s most infamous outlaws assemble to steal a huge
              stash of gold from the most corrupt settlement of the gold rush
              towns. But not all goes to plan one is killed and the other three
              escapes with bags of gold hide out in the abandoned gold mine
              where they happen across another gang of three – who themselves
              were planning to hit the very same bank! As tensions rise, things
              go from bad to worse as they realise the bags of gold are filled
              with lead... they’ve been double crossed – but by who and how?
            </p>
            <div class="wrapper-btn">
              <button type="button" class="btn__watched btn">
                add to Watched
              </button>
              <button type="button" class="btn__queue btn">add to queue</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
