<div class="backdrop">
  <div class="modal">
    <button class="modal-btn">
      <svg class="modal-btn__icon" width="30" height="30">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <div class="wrapper">
      <div class="image">
        <img src="#" alt="" />
      </div>

      <div class="wrapper__text">
        <h2 class="wrapper__title">A FISTFUL OF LEAD</h2>
        <div class="wrapper__info">
          <ul class="list">
            <li class="list__item">
              <p class="list__item-text">Vote / Votes</p>
            </li>
            <li class="list__item">
              <p class="list__item-text">Original Title</p>
            </li>
            <li class="list__item">
              <p class="list__item-text">Original Title</p>
            </li>
            <li class="list__item">
              <p class="list__item-text">Genre</p>
            </li>
          </ul>
          <ul class="list">
            <li class="list__item">
              <p class="list__item-elem">
                <span class="active">7.3</span> / 1260
              </p>
            </li>
            <li class="list__item">
              <p class="list__item-elem">100.2</p>
            </li>
            <li class="list__item">
              <p class="list__item-elem">A FISTFUL OF LEAD</p>
            </li>
            <li class="list__item">
              <p class="list__item-elem">Western</p>
            </li>
          </ul>
        </div>

        <p class="text">About</p>
        <p class="paragraph">
          Four of the West’s most infamous outlaws assemble to steal a huge
          stash of gold from the most corrupt settlement of the gold rush towns.
          But not all goes to plan one is killed and the other three escapes
          with bags of gold hide out in the abandoned gold mine where they
          happen across another gang of three – who themselves were planning to
          hit the very same bank! As tensions rise, things go from bad to worse
          as they realise the bags of gold are filled with lead... they’ve been
          double crossed – but by who and how?
        </p>
        <div class="btns-box">
          <button type="button" class="btns-box__btn is-active">
            add to Watched
          </button>
          <button type="button" class="btns-box__btn">add to queue</button>
        </div>
      </div>
    </div>
  </div>
</div>
