<section class="main-library">
  <h2 class="main-library__heading visually-hidden">My movies library</h2>
  <div class="container">
    <ul class="gallery"></ul>
    <div class="main-library__empty-page empty-page"></div>
    <img
      class="empty-page__img hide"
      src="./images/empty-page/movies-popcorn.png"
      loading="lazy"
      alt="popcorn bucket"
    />
  </div>
  <div class="loader visually-hidden">
    <div class="loader-inner"></div>
  </div>
  <div class="container">
    <h2 class="main-library__heading visually-hidden">My movies library</h2>
    <div class="container">
      <ul class="gallery"></ul>
    </div>
    <div class="loader visually-hidden">
      <div class="loader-inner"></div>
    </div>
    <div class="container">
      <ul id="pagination" class="pagination"></ul>
    </div>
  </div>
</section>
