<section class="main-library">
    <h2 class="main-library__heading visually-hidden">My movies library</h2>
    <div class="container">
        <ul class="gallery "></ul>
    </div>
    <div class="main-library__empty-page empty-page">
        <img class="empty-page__img opacity" src="./images/empty-page/movies-popcorn.png" alt="movie-night" width="800" height="480">
    </div>
    <div class="loader visually-hidden">
        <div class="loader-inner"></div>
    </div>
    <!-- <div class="container">
        <ul id="pagination" class="pagination"></ul>
    </div> -->
</section>