<section class="main-library">
  <h2 class="main-library__heading visually-hidden">My movies library</h2>
  <div class="container">
    <ul class="gallery"></ul>
  </div>
  <div class="main-library__empty-page empty-page">
    
  </div>
  <div class="loader visually-hidden">
    <div class="loader-inner"></div>
  </div>
  <div class="container">
    <h2 class="main-library__heading visually-hidden">My movies library</h2>
    <div class="container">
        <ul class="gallery "></ul>
    </div>
    <div class="main-library__empty-page empty-page">
    </div>
    <div class="loader visually-hidden">
        <div class="loader-inner"></div>
    </div>
     <div class="container">
        <ul id="pagination" class="pagination"></ul>
    </div>
</section>
