
.empty-page__notification{
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    font-style: italic;
    color: #f42116;
    line-height: 1.25;
    text-align: center;

    margin-bottom: 15px;


}

