

@media screen and (max-width: 767px) {
    .empty-page__notification{
        font-size: 12px;
    }
}

@media screen and (min-width: 768px) {
    .empty-page__notification {
            font-size: 14px;
        }
}


.empty-page__notification {
    font-family: Roboto;
    font-weight: 500;
    font-size: 18px;
    color: #e42727;
    line-height: 1.25;
    text-align: center;

    margin-bottom: 20px;

    animation: opac 2.5s forwards;


}

@keyframes opac {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1;
    }
}


.opacity {
    opacity: 0;
    position: absolute;

}

.empty-page__img {
    margin: 0 auto;
}